# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "stable" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test with pytest
        run: |
          apt-get install tree
          tree
          echo "Working directory: $(pwd)"
          echo "Python version: $(python --version)"
          ls /home/runner/work/geo-adjacency
          
          pip install pytest
          pytest /home/runner/work/geo-adjacency/tests